<h1>Contact Page</h1>
<p>The tutorial for this website was made by <%= link_to "Mattan Griffel", "http://mattgriffel.com" %> </p>
<p>This website was made by <%= link_to "Alex Davis", "http://alexdavisjr.com" %> </p>